.firstBlockWrapper {
  background-color: gray;
  border: 1 solid red;
  height: 100vh;
  width: 100%;
  color: white;
  overflow-y: scroll;
}

.firstBlockButtonsWrapper {
  margin-top: 400px;
  display: flex;
  justify-content: center;
}

.firstBlockButton {
  background: rgba(153, 132, 49, 1);
  color: white;
  padding: 0 120px;
  height: 50px;
  margin: 10px;
}

.headerWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.headerContact {
  color: #ffffff;
  padding-right: 40px;
}

.headerPosition {
  color: white;
  padding-left: 40px;
}

.subHeaderWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.subHeaderItemCatalog {
  padding: 12px 12px;
  border: 1px solid white;
  border-left: 0;
  width: 25%;
}

.subHeaderItemDelivery {
  padding: 12px 12px;
  border: 1px solid white;
  width: 25%;
}

.subHeaderItemCollections {
  padding: 12px 12px;
  border: 1px solid white;
  width: 25%;
}

.subHeaderItemContacts {
  padding: 12px 12px;
  border: 1px solid white;
  border-right: 0;
  width: 25%;
}

.textStyleUrl {
  color: white;
  text-decoration: none;
}
