.left-side {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.thirdBlockWrapper {
  height: 100vh;
  width: 100%;
  background-color: rgba(230, 227, 196, 1);
  padding-top: 30px;
  display: flex;
  flex-direction: row;
}

.thirdBlockHeaderContent {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.lineForHeader {
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
  background-color: rgba(230, 227, 196, 1);
}

.line-header {
  width: 90%;
  border-color: rgba(153, 132, 49, 1);
}

.thirdBlockHeaderText {
  display: flex;
  flex-direction: column;
}

.thirdBlockTag {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.thirdBlockFirstTagContent {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.thirdBlockTwoTagContent {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.lineBlock {
  display: flex;
  flex-wrap: wrap;
}

.line {
  width: 120px;
  border-color: black;
}

.thirdBlockBodyContent {
  padding-bottom: 10px;
  display: flex;
  justify-content: left;
}

.thirdBlockBodyContentCatalog {
  padding-top: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.bodyContentTable {
  border-collapse: collapse;
  width: 50%;
}

.cell {
  padding: 0 12px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.cellDescription {
  padding-left: 13px;
  border-bottom: 1px solid black;
  text-indent: -10px;
  white-space: pre;
}

.description {
  font-weight: normal;
}

.bodyContentText {
  width: 100%;
  display: flex;
  justify-content: left;
}

.bodyContentButton {
  padding-top: 30px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin: 0 50px;
}

.contentButton {
  background-color: rgba(153, 132, 49, 1);
  width: 254px;
  height: 50px;
  margin-bottom: 12px;
  border: 0;
}

.buttonText {
  color: white;
  font-size: 15px;
  white-space: pre-wrap;
}

.right-side {
  display: flex;
  justify-content: right;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
}

.image {
  width: 330px;
  height: 300px;
  padding-left: 30px;
  display: flex;
  flex-wrap: nowrap;
}

.image2 {
  width: 160px;
  height: 150px;
  display: flex;
  flex-wrap: nowrap;
}

.image3 {
  width: 160px;
  height: 150px;
  padding-left: 10px;
  display: flex;
  flex-wrap: nowrap;
}

.position {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}
